# Copiez ce fichier en ".env" puis remplacez par l'identifiant de VOTRE formulaire Formspree
# (l'URL Formspree ressemble à https://formspree.io/f/abcdwxyz -> l'identifiant est "abcdwxyz")
VITE_FORMSPREE_ID=votre_identifiant
